[Desktop Entry]
Name=Awakened PoE Trade
Exec=~/Downloads/Awakened-PoE-Trade-*.AppImage --ozone-platform=x11
Icon=awakened
Terminal=false
Type=Application
