[Desktop Entry]
Name=NixOS Options
Comment=NixOS Options
Exec=setsid chromium --new-window -app="https://mynixos.com/options"
Icon=nixos-logo-white
Terminal=false
Type=Application
